<div class="container__small-card">
    <div class="container__small-card-content">
        <div class="small-card__photo">
            <img src="https://static.independent.co.uk/2022/01/26/10/Andromeda_Galaxy_David-Deddy-Dayag_WEB.jpg?width=1200&height=900&fit=crop" alt="" height="200px">
        </div>
    
        <div class="small-card__title">
            <h1><a href="#">Palpatine is the new emperor!</a></h1>
        </div>
    </div>
    <div class="container__small-card-separator">
        <hr/>
    </div>
</div>